<html>

<head>
    <title>Speech</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/swiper.min.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>

<body>
    <img src="./../../static/homepage/1_LyLWfbHfFUG_OyyGSwK-_w.png" style="border-radius: 5px;height: 50px;width: 50px;
    z-index: 10;
    left: 3%;
    top: 3%;
    position: fixed;
    cursor: pointer;
    font-size: 40px;" onclick="onHome()">
    
    <div id="img-box" class="full">
        <div class="shadow1"></div>
        <div class="shadow2"></div>
        <!-- <img src="{% static 'homepage/90850.jpg' %}" id="smallimg">          -->

        <section id="documentation" class="documentation">
            <video autoplay="false" src="{% static 'homepage/2.mp4' %}" loop muted></video>
        </section>

        <section id="aboutus" class="aboutus">
            <fieldset>
                <legend>About Us</legend>
                <p id="about">This site detects the accent of your speech!</p>
            </fieldset>

        </section>
        <section id="team" class="team">
            <!-- Swiper -->
            <div class="swiper-container" style="visibility: hidden;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="imgBx">
                            <img src="{% static 'homepage/team-2.png' %}">
                        </div>
                        <div class="content">
                            <h2>Vishnu Paregi<br><span>Web Designer</span></h2>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgBx">
                            <img src="">
                        </div>
                        <div class="content">
                            <h2>Devang Parekh<br><span>Web Designer</span></h2>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgBx">
                            <img src="">
                        </div>
                        <div class="content">
                            <h2>Axay Patel<br><span>Web Designer</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="homepage" class="homepage">
            {% block content %}
            <br>
            <div class="inputtaker">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" id="speak" name="speak" class="speakbutton">Speak</button>
                    <span style="margin-left:40%;margin-top:40%;font-size: 200px;color: #6b18ff;">|</span>
                    <div style="float:right;margin-right:120px;margin-left:0px;margin-top:80px;">
                    <h1 style="color:red;">Let File Speak</h1>
                    <br>
                <input type="file" name="document">
                <button type="submit">Upload file</button>
            </div>
            </form>
        </div>
            {% if url %}
            <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
            {% endif %}
            <br>
            {% if s %}
            <div class="output">
                <div style="display: inline">
                <h3>You Said : </h3>
                <p>{{s}}</p>
            </div>
            <div style="display: inline">
                <h3>We Said : </h3>
                <p>You are {{predict}} </p>
            </div>
            </div>
            {% endif %}
            {% endblock %}
        </section>
    </div>
    <div class="imageList">
        <ul>
            <li onclick="onHome()">Home</li>
            <li onclick="onAboutUs()">About Us</li>
            <li onclick="onDocumentation()">Documentation</li>
            <li onclick="onTeam()">Team</li>
        </ul>
    </div>
    
    <div class="btn-box" onclick="imageSize()">
        <span id="btnIcon">&#9776;</span>
    </div>
    
    <script src="{% static 'homepage/swiper.min.js' %}"></script>
    <script>

        // var smallImg = document.getElementById("smallimg");
        var imgBox = document.getElementById("img-box");
        var menuIcon = document.getElementById("btnIcon");
        var homepage = document.getElementById("homepage");
        var team = document.getElementById("team");
        var documentation = document.getElementById("documentation");
        var aboutus = document.getElementById("aboutus");
        var swiper;

        function onHome() {
            // smallImg.src="{% static 'homepage/90850.jpg' %}";
            homepage.style.visibility = "visible";
            team.style.visibility = "hidden";
            documentation.style.visibility = "hidden";
            aboutus.style.visibility = "hidden";
            swiper.destroy();
        }

        function onAboutUs() {
            aboutus.style.visibility = "visible";
            homepage.style.visibility = "hidden";
            team.style.visibility = "hidden";
            documentation.style.visibility = "hidden";
            swiper.destroy();
        }
        function onTeam() {
            // smallImg.src="{% static 'homepage/onUpload.png' %}";
            team.style.visibility = "visible";
            homepage.style.visibility = "hidden";
            documentation.style.visibility = "hidden";
            aboutus.style.visibility = "hidden";
            swiper = new Swiper('.swiper-container', {
            effect: 'cube',
            loop: true,
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
        });
        }

        function onDocumentation() {
            documentation.style.visibility = "visible";
            homepage.style.visibility = "hidden";
            team.style.visibility = "hidden";
            aboutus.style.visibility = "hidden";
            swiper.destroy();
        }
        function imageSize() {
            if (imgBox.className == "small") {
                imgBox.className = "full";
                menuIcon.innerHTML = "&#9776";
            }
            else {
                imgBox.className = "small";
                menuIcon.innerHTML = "&#10006";
            }
        }
    </script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</body>

</html>
