*{
    margin: 0;
    padding: 0;
}

body{
    background: #6b18ff;
    font-family: sans-serif;
}

#img-box{
    position: relative;
}

/* #img-box img{
    width: 100%;
    height: 100%;
    position: absolute;
} */

#img-box .homepage{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

#img-box .documentation{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

#img-box .aboutus{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

#img-box .documentation video{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.small{
    transition: .5s;
    width: 50%;
    height: 60%;
    left: 20%;
    top: 19%;
    position: absolute;
    transform: perspective(600px) rotateX(-1.98deg) rotateY(29.99deg) scale3d(1,1,1);
}

.imageList{
    width: 30%;
    right: 5%;
    top: 32%;
    position: absolute;
    font-size: 22px;
}

.imageList ul{
    left: 30%;
    position: absolute;
}

.imageList ul li{
    cursor: pointer;
    list-style-type: none;
    color: #fff;
    margin: 20px 0;
}

.shadow1{
    top: 10%;
    left: -6%;
    width: 30%;
    height: 80%;
    position: absolute;
    background: rgba(255,255,255,0.6);
}


.shadow2{
    top: 16%;
    left: -11%;
    width: 30%;
    height: 68%;
    position: absolute;
    background: rgba(255,255,255,0.3);
}

.btn-box{
    z-index: 10;
    right: 3%;
    top: 3%;
    position: absolute;
    cursor: pointer;
    font-size: 40px;
}

.full{
    transition: .5s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: perspective(0) rotateX(0deg) rotateY(0deg) scale3d(1,1,1);
    z-index: 8;
}

#img-box .team{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: whitesmoke;
}


#img-box .team .swiper-container {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: #f2f2f2;
}

.swiper-container .swiper-slide  .imgBx{
  position: absolute;
  height: 300px;
  width: 300px;
}

.swiper-container .swiper-slide .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-container .swiper-slide .content{
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container .swiper-slide .content h2{
  font-size: 20px;
}

.swiper-container .swiper-slide .content h2 span{
  font-size: 16px;
  color: #f44336;
}

fieldset{
  margin: 100px 50px 0px 50px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.5);
  background-color: aliceblue;
  border: none;
  height: 200px;
}

fieldset:hover{
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.7);
}

legend{
  font-size: 30px;
  font-weight: 600;
  color: #6b18ff;
  padding-left: 20px;
  display: block;
}

#about{
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 400;
}

.homepage .inputtaker{
  margin: 100px 50px 0px 50px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.5);
  background-color: aliceblue;
  border: white;
  height: 250px;
}

.homepage .inputtaker:hover{
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.7);
}

.speakbutton{
  padding: 10px;
  font-size: 20px;
  justify-content: center;
  position: absolute;
  margin-top: 120px;
  margin-left:200px;
}

.homepage .output{
  margin: 50px 50px 0px 50px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.5);
  background-color: aliceblue;
  border: white;
  height: 100px;
}

.homepage .output:hover{
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.7);
}